Repository jherby2k/AudioWorks: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

azure-pipelines-linux.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UseDotNet@2
    displayName: Install .NET Core 8.0 SDK
    inputs:
      packageType: sdk
      version: 8.0.x
  - task: DotNetCoreCLI@2
    inputs:
      command: build
      projects: AudioWorks/AudioWorks.sln
      arguments: --configuration $(buildConfiguration)
  ...

azure-pipelines-macos.yml:
  pool:
    vmImage: macOS-latest
  steps:
  - task: DotNetCoreCLI@2
    inputs:
      command: build
      projects: AudioWorks/AudioWorks.sln
      arguments: --configuration $(buildConfiguration)
    displayName: Build $(buildConfiguration) configuration
  - task: DotNetCoreCLI@2
    inputs:
      command: pack
  ...

azure-pipelines-windows.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    displayName: Install .NET Core 8.0 SDK
    inputs:
      packageType: sdk
      version: 8.0.x
  - task: DotNetCoreCLI@2
    inputs:
      command: restore
      projects: AudioWorks\AudioWorks.sln
    displayName: Restore dependencies
  ...

flac 1.5 binary doesn't seem to be working on arm64. Test on intel
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Test on both Intel and ARM Macs
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Change linux job to "ubuntu"
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Correct loader path for libogg
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/runtimes/osx-arm64/native/libFLAC.dylib
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/runtimes/osx-x64/native/libFLAC.dylib
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Correct runners for Mac
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Restore the FLAC version check
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/FlacLibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/Kernel32.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/LibDl.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Attempted fix for Linux library loading
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/FlacLibHandler.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Fixed issue on Linux
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/FlacLibHandler.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Try using different flags
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/FlacLibHandler.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Troubleshooting Linux build
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/FlacLibHandler.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Fix libdl resolution on Linux
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/FlacLibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/LibDl.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Make PS module dependent on extensions being built first
  AudioWorks/AudioWorks.sln
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Only set the total samples estimate if FrameCount is known.
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/Encoder/FlacAudioEncoder.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Use FLAC__VERSION_STRING instead of FLAC__VENDOR_STRING
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/FlacLibHandler.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Correct the iTunes native lib path
  AudioWorks/src/Extensions/AudioWorks.Extensions.Apple/CoreAudioHandler.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Statically compiled to avoid VC++ runtime dependency
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/runtimes/win-x64/native/opus.dll
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/runtimes/win-x64/native/opusenc.dll
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/runtimes/win-x86/native/opus.dll
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/runtimes/win-x86/native/opusenc.dll
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Test under 32-bit process as well on Windows
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Revert "Test under 32-bit process as well on Windows"
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Don't install 32-bit Apple support as 32-bit tests aren't currently possible
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Skip setup-dotnet steps for a speedup, since its standard on runners
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Update README.md
  README.md
Due: none

Link to proper wiki article for installing Core Audio
  AudioWorks/src/Extensions/AudioWorks.Extensions.Apple/Readme.md
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Force UTF encoding (and log a warning) when multibyte characters are present
  AudioWorks/src/Extensions/AudioWorks.Extensions.Id3/Id3AudioMetadataEncoder.cs
  AudioWorks/tests/AudioWorks.TestUtilities/DataSources/SaveMetadataValidFileSource.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Default to the existing tag version, if present
  AudioWorks/src/Extensions/AudioWorks.Extensions.Id3/Id3AudioMetadataEncoder.cs
  AudioWorks/tests/AudioWorks.TestUtilities/DataSources/SaveMetadataValidFileSource.cs
  AudioWorks/tests/AudioWorks.TestUtilities/DataSources/ValidFileDataSource.cs
  AudioWorks/tests/TestFiles/Valid/Lame CBR 128 44100Hz Stereo (ID3v2.4 Latin1).mp3
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Additional debug messages
  AudioWorks/src/Extensions/AudioWorks.Extensions.Id3/Id3AudioMetadataEncoder.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Fixed some formatting
  AudioWorks/src/AudioWorks.Api/Readme.md
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Use async encode/decode via Channels for a decent speed boost
  AudioWorks/src/AudioWorks.Api/AudioFileAnalyzer.cs
  AudioWorks/src/AudioWorks.Api/AudioFileEncoder.cs
  AudioWorks/src/AudioWorks.Api/ExtensionMethods.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Minor fixes
  AudioWorks/src/AudioWorks.Extensibility/SampleBuffer.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/FlacLibHandler.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/Kernel32.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Remove Dataflow dependency (no real performance impact)
  AudioWorks/src/AudioWorks.Api/AudioFileAnalyzer.cs
  AudioWorks/src/AudioWorks.Api/AudioFileEncoder.cs
  AudioWorks/src/AudioWorks.Api/AudioWorks.Api.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

MaxDegreeOfParallelism of logical processors * 1.5 is a bit faster on a 12 core (6 physical) Ryzen encoding/analyzing an album of 16 tracks.
  AudioWorks/src/AudioWorks.Api/AudioFileAnalyzer.cs
  AudioWorks/src/AudioWorks.Api/AudioFileEncoder.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Same MaxDegreeOfParallelism changes for PowerShell module
  AudioWorks/src/AudioWorks.Commands/ExportAudioFileCommand.cs
  AudioWorks/src/AudioWorks.Commands/MeasureAudioFileCommand.cs
  AudioWorks/src/AudioWorks.Commands/docs/Export-AudioFile.md
  AudioWorks/src/AudioWorks.Commands/docs/Measure-AudioFile.md
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

remove unnecessary using
  AudioWorks/src/AudioWorks.Api/AudioFileAnalyzer.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Add test output as attachments
  AudioWorks/tests/AudioWorks.Api.Tests/AudioFileEncoderTests.cs
  AudioWorks/tests/AudioWorks.Api.Tests/CoverArtExtractorTests.cs
  AudioWorks/tests/AudioWorks.Api.Tests/TaggedAudioFileTests.cs
  AudioWorks/tests/AudioWorks.TestUtilities/PathUtility.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Update xunit
  AudioWorks/tests/Directory.Packages.props
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Don't ever substitute [ or ] in a filename since they don't work well under PowerShell (workaround for #45)
  AudioWorks/src/AudioWorks.Api/EncodedPath.cs
  AudioWorks/tests/AudioWorks.TestUtilities/DataSources/RenameValidFileDataSource.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Merge platform-specific invalid character tests
  AudioWorks/tests/AudioWorks.TestUtilities/DataSources/RenameValidFileDataSource.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Add a UseOptimizations param for testing like AudioFileEncoder has
  AudioWorks/src/AudioWorks.Api/AudioFileAnalyzer.cs
  AudioWorks/tests/AudioWorks.Api.Tests/AudioFileAnalyzerTests.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Generate attachments without optimization as well
  AudioWorks/tests/AudioWorks.Api.Tests/AudioFileEncoderTests.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

More debug logging
  AudioWorks/src/AudioWorks.Api/AudioFileAnalyzer.cs
  AudioWorks/src/AudioWorks.Api/AudioFileEncoder.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Path conditions:
  azure-pipelines-linux.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-windows.yml, azure-pipelines-macos.yml, .github
  azure-pipelines-macos.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-windows.yml, azure-pipelines-linux.yml
  azure-pipelines-windows.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-linux.yml, azure-pipelines-macos.yml
