Repository jherby2k/AudioWorks: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Path conditions:
  azure-pipelines-linux.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-windows.yml, azure-pipelines-macos.yml
  azure-pipelines-macos.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-windows.yml, azure-pipelines-linux.yml
  azure-pipelines-windows.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-linux.yml, azure-pipelines-macos.yml

Strong name sign the libraries. Resolves #10
  AudioWorks/src/AudioWorks.Api/AudioWorks.Api.csproj
  AudioWorks/src/AudioWorks.Api/StrongName.snk
  AudioWorks/src/AudioWorks.Common/AudioWorks.Common.csproj
  AudioWorks/src/AudioWorks.Common/StrongName.snk
  AudioWorks/src/AudioWorks.Extensibility/AudioWorks.Extensibility.csproj
  AudioWorks/src/AudioWorks.Extensibility/StrongName.snk
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Roll back .NET Core 3.1 version due to issues
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Correct syntax error
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Don't update SDKs during build
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Try updating test SDK to fix build failure
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Updated Moq.
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Remove unnecessary report naming
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Correct include path for net462 tests
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Removed redundancies
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml

Revert "Removed redundancies"
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml

Another build fix attempt
  azure-pipelines-linux.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-windows.yml

Disable cobertura report generation under net462 (possible workaround)
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Revert "Disable cobertura report generation under net462 (possible workaround)"
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Disable net462 tests entirely for now as workaround.
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Added diagnostics step and try skipping the 2.1.x SDK
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Try installing just the 2.1 runtime
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Try installing runtimes instead of SDKs, leave diagnostics enabled, and try to speed up prerequisite download
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Correct syntax error.
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Install just the runtimes rather than SDKs, and try to sleep up prerequisite downloading.
  azure-pipelines-windows.yml
Due: azure-pipelines-windows.yml

Only install runtimes for speed-up
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml

Install full 2.1 SDK.
  azure-pipelines-macos.yml
Due: azure-pipelines-macos.yml

Reinstate 3.1 full SDK
  azure-pipelines-macos.yml
Due: azure-pipelines-macos.yml

Drop net462 in favor of 472 due to DevOps hosted agent limitations. Enable net472 tests.
  AudioWorks/src/AudioWorks.Commands/AudioWorks.Commands.csproj
  AudioWorks/src/AudioWorks.Commands/LoggingCmdlet.cs
  AudioWorks/src/AudioWorks.Commands/LoggingPSCmdlet.cs
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Api.Tests/DataSources/AnalyzeGroupDataSource.cs
  AudioWorks/tests/AudioWorks.Api.Tests/DataSources/EncodeValidFileDataSource.cs
  AudioWorks/tests/AudioWorks.Api.Tests/DataSources/SaveMetadataUnsupportedFileDataSource.cs
  AudioWorks/tests/AudioWorks.Api.Tests/DataSources/SaveMetadataValidFileSource.cs
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
  AudioWorks/tests/AudioWorks.Common.Tests/AudioWorks.Common.Tests.csproj
  AudioWorks/tests/AudioWorks.Extensibility.Tests/AudioWorks.Extensibility.Tests.csproj
  AudioWorks/tests/AudioWorks.TestUtilities/ExtensionMethods.cs
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Disable shadow copies under net472.
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Api.Tests/xunit.runner.json
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Revert "Drop net462 in favor of 472 due to DevOps hosted agent limitations. Enable net472 tests."
  AudioWorks/src/AudioWorks.Commands/AudioWorks.Commands.csproj
  AudioWorks/src/AudioWorks.Commands/LoggingCmdlet.cs
  AudioWorks/src/AudioWorks.Commands/LoggingPSCmdlet.cs
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Api.Tests/DataSources/AnalyzeGroupDataSource.cs
  AudioWorks/tests/AudioWorks.Api.Tests/DataSources/EncodeValidFileDataSource.cs
  AudioWorks/tests/AudioWorks.Api.Tests/DataSources/SaveMetadataValidFileSource.cs
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
  AudioWorks/tests/AudioWorks.Common.Tests/AudioWorks.Common.Tests.csproj
  AudioWorks/tests/AudioWorks.Extensibility.Tests/AudioWorks.Extensibility.Tests.csproj
  AudioWorks/tests/AudioWorks.TestUtilities/ExtensionMethods.cs
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Use net462 for shadow copies
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Try reverting Moq to fix net462 tests.
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Removed redunant package references.
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Test disable of logging
  AudioWorks/tests/AudioWorks.Common.Tests/AudioEncodingExceptionTests.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Revert test change.
  AudioWorks/tests/AudioWorks.Common.Tests/AudioEncodingExceptionTests.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Try reverting test SDK to 16.5.0.
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
  AudioWorks/tests/AudioWorks.Common.Tests/AudioWorks.Common.Tests.csproj
  AudioWorks/tests/AudioWorks.Extensibility.Tests/AudioWorks.Extensibility.Tests.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Revert "Try reverting test SDK to 16.5.0."
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
  AudioWorks/tests/AudioWorks.Common.Tests/AudioWorks.Common.Tests.csproj
  AudioWorks/tests/AudioWorks.Extensibility.Tests/AudioWorks.Extensibility.Tests.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Revert "Try reverting Moq to fix net462 tests."
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Don't explicitly name the coverage output file any longer.
  azure-pipelines-macos.yml
Due: azure-pipelines-macos.yml

Skip apt-get update for faster runs
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml

Diabled runtime installations - shouldn't be necessary.
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml

Install reportgenerated to a local tools directory
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml

Use the report generator devops task instead of running report generator manually
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml

Publish code coverage report correctly
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml

Don't generate badges.
  azure-pipelines-linux.yml
Due: azure-pipelines-linux.yml
