Repository jherby2k/AudioWorks: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Path conditions:
  azure-pipelines-linux.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-windows.yml, azure-pipelines-macos.yml, .github
  azure-pipelines-macos.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-windows.yml, azure-pipelines-linux.yml
  azure-pipelines-windows.yml: any file but: .gitignore.txt, README.md, LICENSE, azure-pipelines-linux.yml, azure-pipelines-macos.yml

List the CPU on Windows (AAC troubleshooting)
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Try getting CPU info a different way
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Another try
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Try to run qaac on the build host so we can compare the output
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Syntax fix
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Use cmd shell for qaac
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

troubleshooting
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Correct qaac path
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Updated hashes for new build hosts. Not sure why AAC results seem to be machine-specific. QAAC produces the same files however (verified with test file 64)
  AudioWorks/tests/AudioWorks.TestUtilities/DataSources/EncodeValidFileDataSource.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Remove temporary QAAC tests
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Include entire Output folder as artifacts
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Fix step name on *nix
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Actually we should only include the "encode" output to avoid a filename issue
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Correct hashes
  AudioWorks/tests/AudioWorks.TestUtilities/DataSources/EncodeValidFileDataSource.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Remove MacOS 11 hashes
  AudioWorks/tests/AudioWorks.TestUtilities/DataSources/EncodeValidFileDataSource.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Remove azure devops pipelines
  .github/workflows/build-and-test.yml
  azure-pipelines-linux.yml
  azure-pipelines-macos.yml
  azure-pipelines-windows.yml
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Revert "Remove MacOS 11 hashes"
  AudioWorks/tests/AudioWorks.TestUtilities/DataSources/EncodeValidFileDataSource.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Better hash labels for ALAC
  AudioWorks/tests/AudioWorks.TestUtilities/DataSources/EncodeValidFileDataSource.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Updated hash labels for Vorbis
  AudioWorks/tests/AudioWorks.TestUtilities/DataSources/SaveMetadataValidFileSource.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Update README.md
  README.md
Due: none

Added nuget readme files
  AudioWorks/src/AudioWorks.Api/AudioWorks.Api.csproj
  AudioWorks/src/AudioWorks.Api/Readme.md
  AudioWorks/src/AudioWorks.Common/AudioWorks.Common.csproj
  AudioWorks/src/AudioWorks.Common/Readme.md
  AudioWorks/src/AudioWorks.Extensibility/AudioWorks.Extensibility.csproj
  AudioWorks/src/AudioWorks.Extensibility/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Apple/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Id3/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp3/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp4/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Wave/Readme.md
  AudioWorks/src/Extensions/Pack.nuspec
  AudioWorks/src/Extensions/PackWithCodePages.nuspec
  AudioWorks/src/Extensions/PackWithRuntimes.nuspec
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Move extension project dependencies back to AudioWorks.Api, and add them as nuget dependencies too
  AudioWorks/src/AudioWorks.Api/AudioWorks.Api.csproj
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Don't include icon in build output
  AudioWorks/src/AudioWorks.Api/AudioWorks.Api.csproj
  AudioWorks/src/AudioWorks.Commands/PublishModule.ps1
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Upload build artifacts
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Revert "Move extension project dependencies back to AudioWorks.Api, and add them as nuget dependencies too"
  AudioWorks/src/AudioWorks.Api/AudioWorks.Api.csproj
  AudioWorks/tests/AudioWorks.Api.Tests/AudioWorks.Api.Tests.csproj
  AudioWorks/tests/AudioWorks.Commands.Tests/AudioWorks.Commands.Tests.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Remove unnecessary PackageReferences
  AudioWorks/src/AudioWorks.Api/AudioWorks.Api.csproj
  AudioWorks/src/AudioWorks.Extensibility/AudioWorks.Extensibility.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Don't include the revision in the Nuget package version
  AudioWorks/src/Extensions/AudioWorks.Extensions.Apple/AudioWorks.Extensions.Apple.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/AudioWorks.Extensions.Flac.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Id3/AudioWorks.Extensions.Id3.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/AudioWorks.Extensions.Lame.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp3/AudioWorks.Extensions.Mp3.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp4/AudioWorks.Extensions.Mp4.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/AudioWorks.Extensions.Opus.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/AudioWorks.Extensions.ReplayGain.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/AudioWorks.Extensions.Vorbis.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Wave/AudioWorks.Extensions.Wave.csproj
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Corrected grammar and added related packages
  AudioWorks/src/AudioWorks.Api/Readme.md
  AudioWorks/src/AudioWorks.Common/Readme.md
  AudioWorks/src/AudioWorks.Extensibility/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Apple/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Id3/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp3/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp4/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Wave/Readme.md
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Include extension dependencies as Nuget references
  AudioWorks/src/Extensions/AudioWorks.Extensions.Apple/AudioWorks.Extensions.Apple.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Apple/Pack.nuspec
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/AudioWorks.Extensions.Flac.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/Pack.nuspec
  AudioWorks/src/Extensions/AudioWorks.Extensions.Id3/AudioWorks.Extensions.Id3.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Id3/Pack.nuspec
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/AudioWorks.Extensions.Lame.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/Pack.nuspec
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp3/AudioWorks.Extensions.Mp3.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp3/Pack.nuspec
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp4/AudioWorks.Extensions.Mp4.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp4/Pack.nuspec
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/AudioWorks.Extensions.Opus.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/Pack.nuspec
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/AudioWorks.Extensions.ReplayGain.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/Pack.nuspec
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/AudioWorks.Extensions.Vorbis.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/Pack.nuspec
  AudioWorks/src/Extensions/AudioWorks.Extensions.Wave/AudioWorks.Extensions.Wave.csproj
  AudioWorks/src/Extensions/AudioWorks.Extensions.Wave/Pack.nuspec
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Pull in the correct assets from each dependency
  AudioWorks/src/Extensions/AudioWorks.Extensions.Apple/Pack.nuspec
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/Pack.nuspec
  AudioWorks/src/Extensions/AudioWorks.Extensions.Id3/Pack.nuspec
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/Pack.nuspec
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp3/Pack.nuspec
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp4/Pack.nuspec
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/Pack.nuspec
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/Pack.nuspec
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/Pack.nuspec
  AudioWorks/src/Extensions/AudioWorks.Extensions.Wave/Pack.nuspec
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Change CoverArtExtractor to use init properties like AudioFileEncoder and AudioFileAnalyzer
  AudioWorks/src/AudioWorks.Api/CoverArtExtractor.cs
  AudioWorks/src/AudioWorks.Commands/ExportAudioCoverArtCommand.cs
  AudioWorks/tests/AudioWorks.Api.Tests/CoverArtExtractorTests.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Make SettingInfoDictionary read-only
  AudioWorks/src/AudioWorks.Api/AudioAnalyzerManager.cs
  AudioWorks/src/AudioWorks.Api/AudioEncoderManager.cs
  AudioWorks/src/AudioWorks.Api/AudioMetadataEncoderManager.cs
  AudioWorks/src/AudioWorks.Api/TaggedAudioFile.cs
  AudioWorks/src/AudioWorks.Common/Readme.md
  AudioWorks/src/AudioWorks.Common/SettingInfoDictionary.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Apple/AacAudioEncoder.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Apple/AlacAudioEncoder.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/Encoder/FlacAudioEncoder.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/Metadata/FlacAudioMetadataEncoder.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Id3/Id3AudioMetadataEncoder.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/LameAudioEncoder.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Mp4/ItunesAudioMetadataEncoder.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/OpusAudioEncoder.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/OpusAudioMetadataEncoder.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/ReplayGainAnalyzer.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/ReplayGainFilter.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/VorbisAudioEncoder.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/VorbisAudioMetadataEncoder.cs
  AudioWorks/src/Extensions/AudioWorks.Extensions.Wave/WaveAudioEncoder.cs
  AudioWorks/tests/AudioWorks.Api.Tests/TaggedAudioFileTests.cs
  AudioWorks/tests/AudioWorks.Common.Tests/SettingInfoDictionaryTests.cs
  AudioWorks/tests/AudioWorks.TestUtilities/DataSources/ValidFileDataSource.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

List external dependencies
  AudioWorks/src/Extensions/AudioWorks.Extensions.Apple/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Lame/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Opus/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.ReplayGain/Readme.md
  AudioWorks/src/Extensions/AudioWorks.Extensions.Vorbis/Readme.md
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Improved examples
  AudioWorks/src/AudioWorks.Api/Readme.md
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

libopusenc0 pulls in libopus0
  .github/workflows/build-and-test.yml
Due: azure-pipelines-macos.yml, azure-pipelines-windows.yml

Fix dynamic parameters for formats that don't support metadata (ie Wave)
  AudioWorks/src/AudioWorks.Commands/SaveAudioMetadataCommand.cs
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Flac 1.5 binaries for Mac
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/runtimes/osx-arm64/native/libFLAC.dylib
  AudioWorks/src/Extensions/AudioWorks.Extensions.Flac/runtimes/osx-x64/native/libFLAC.dylib
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml

Bump AutoMapper
  AudioWorks/tests/Directory.Packages.props
Due: azure-pipelines-linux.yml, azure-pipelines-macos.yml, azure-pipelines-windows.yml
